In [ ]:
import numpy as np
import pandas as pd

from open_prices.config import EXTERNAL_DATA_FILE
from open_prices.dataset import checkListTypeAndConvert, noneSumCalc

pd.options.display.float_format = '{:.2f}'.format

2025-12-20 14:54:27.145 | INFO     | open_prices.config:<module>:11 - PROJ_ROOT path is: /home/ornellah/Documents/Git project/open_prices

In [3]:
df = pd.read_parquet(f"{EXTERNAL_DATA_FILE}", engine="fastparquet")

In [4]:
df.head()

,id,type,product_code,product_name,category_tag,labels_tags,origins_tags,price,price_is_discounted,price_without_discount,...,location_osm_address_postcode,location_osm_address_city,location_osm_address_country,location_osm_address_country_code,location_osm_lat,location_osm_lon,location_website_url,location_source,location_created,location_updated
0,42629,PRODUCT,3560070283484,None,None,None,None,1.25,False,NaN,...,75012,Paris,France,FR,48.85,2.37,None,None,2024-01-16 18:29:47.461589,2024-08-25 13:41:04.572275
1,42630,PRODUCT,3560070206469,None,None,None,None,1.99,False,NaN,...,75012,Paris,France,FR,48.85,2.37,None,None,2024-01-16 18:29:47.461589,2024-08-25 13:41:04.572275
2,39637,PRODUCT,3123930711758,None,None,None,None,3.60,False,NaN,...,17470,Aulnay,France,FR,46.03,-0.35,None,None,2024-10-19 08:12:54.613170,2024-10-19 08:12:55.036233
3,39573,PRODUCT,3500390010247,None,None,None,None,19.95,False,NaN,...,38100,Grenoble,France,FR,45.18,5.73,None,None,2023-12-24 10:09:56.269605,2024-09-01 10:44:35.488131
4,33784,PRODUCT,8033976484743,None,None,None,None,2.99,False,NaN,...,91026,Mazara del Vallo,Italia,IT,37.65,12.60,None,None,2024-08-26 13:54:56.009100,2024-08-26 17:59:56.261823

In [5]:
dfNone = noneSumCalc(df)

In [6]:
dfNone.sort_values('noneSum', ascending=False)

                              columns  noneSum
44               location_website_url     1.00
45                    location_source     1.00
5                         labels_tags     0.98
10                      discount_type     0.96
6                        origins_tags     0.96
4                        category_tag     0.96
11                          price_per     0.96
29          proof_receipt_price_total     0.95
28          proof_receipt_price_count     0.94
9              price_without_discount     0.94
18                   receipt_quantity     0.69
3                        product_name     0.44
26                         proof_date     0.14
31                       proof_source     0.11
20                             source     0.11
27                     proof_currency     0.09
2                        product_code     0.04
38      location_osm_address_postcode     0.02
39          location_osm_address_city     0.02
36               location_osm_tag_key     0.00
41  location_osm_address_country_code     0.00
37             location_osm_tag_value     0.00
35          location_osm_display_name     0.00
43                   location_osm_lon     0.00
40       location_osm_address_country     0.00
42                   location_osm_lat     0.00
13                    location_osm_id     0.00
14                  location_osm_type     0.00
16                               date     0.00
12                           currency     0.00
23                    proof_file_path     0.00
30                        proof_owner     0.00
33                      proof_updated     0.00
32                      proof_created     0.00
25                         proof_type     0.00
17                           proof_id     0.00
24                     proof_mimetype     0.00
47                   location_updated     0.00
1                                type     0.00
7                               price     0.00
15                        location_id     0.00
8                 price_is_discounted     0.00
0                                  id     0.00
22                            updated     0.00
21                            created     0.00
19                              owner     0.00
34                      location_type     0.00
46                   location_created     0.00

In [7]:
removeColumns = dfNone.sort_values('noneSum', ascending=False)[0:2]["columns"].values

In [8]:
df['store_name'] = df['location_osm_display_name'].str.split(',', expand=True)[0]

In [9]:
removeColumns = np.append(
    removeColumns,
    [
        'origins_tags',
        'proof_source',
        'proof_created',
        'proof_updated',
        'location_id',
        'proof_file_path',
        'proof_mimetype',
        'location_created',
        'location_updated',
        'location_osm_display_name',
    ],
)

In [10]:
removeColumns

array(['location_website_url', 'location_source', 'origins_tags',
       'proof_source', 'proof_created', 'proof_updated', 'location_id',
       'proof_file_path', 'proof_mimetype', 'location_created',
       'location_updated', 'location_osm_display_name'], dtype=object)

In [11]:
newDF = df.drop(axis=1, columns=removeColumns)

In [12]:
newdfNone = noneSumCalc(newDF)

In [13]:
newdfNone.sort_values('noneSum', ascending=False)

                              columns  noneSum
5                         labels_tags     0.98
9                       discount_type     0.96
10                          price_per     0.96
4                        category_tag     0.96
25          proof_receipt_price_total     0.95
24          proof_receipt_price_count     0.94
8              price_without_discount     0.94
16                   receipt_quantity     0.69
3                        product_name     0.44
22                         proof_date     0.14
18                             source     0.11
23                     proof_currency     0.09
2                        product_code     0.04
30      location_osm_address_postcode     0.02
31          location_osm_address_city     0.02
29             location_osm_tag_value     0.00
28               location_osm_tag_key     0.00
33  location_osm_address_country_code     0.00
34                   location_osm_lat     0.00
36                         store_name     0.00
32       location_osm_address_country     0.00
35                   location_osm_lon     0.00
12                    location_osm_id     0.00
13                  location_osm_type     0.00
14                               date     0.00
11                           currency     0.00
21                         proof_type     0.00
26                        proof_owner     0.00
15                           proof_id     0.00
1                                type     0.00
0                                  id     0.00
20                            updated     0.00
6                               price     0.00
7                 price_is_discounted     0.00
19                            created     0.00
17                              owner     0.00
27                      location_type     0.00

In [14]:
checkListTypeAndConvert(newDF, True)

[]

In [15]:
newDF["category_tag"] = newDF["category_tag"].replace(to_replace='[a-z]{2}:', regex=True, value='')
newDF["labels_tags"] = newDF["labels_tags"].str.replace(r"^\[\'\w{2}:(\w+)\']$", r"\1", regex=True)

In [16]:
newDF["labels_tags"].unique()

array(['None', 'organic', '[]'], dtype=object)

In [17]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
newDF[(newDF["labels_tags"].notna())]

,id,type,product_code,product_name,category_tag,labels_tags,price,price_is_discounted,price_without_discount,discount_type,price_per,currency,location_osm_id,location_osm_type,date,proof_id,receipt_quantity,owner,source,created,updated,proof_type,proof_date,proof_currency,proof_receipt_price_count,proof_receipt_price_total,proof_owner,location_type,location_osm_tag_key,location_osm_tag_value,location_osm_address_postcode,location_osm_address_city,location_osm_address_country,location_osm_address_country_code,location_osm_lat,location_osm_lon,store_name
0,42629,PRODUCT,3560070283484,None,None,None,1.25,False,NaN,None,None,EUR,4966187139.00,NODE,2024-10-28,12176.00,1.00,a91f5c8b,Smoothie - OpenFoodFacts (0.0.0+734),2024-10-28 16:55:51.817735,2025-09-09 10:24:56.919108,RECEIPT,2024-10-28,EUR,NaN,NaN,a91f5c8b,OSM,shop,supermarket,75012,Paris,France,FR,48.85,2.37,Carrefour Market
1,42630,PRODUCT,3560070206469,None,None,None,1.99,False,NaN,None,None,EUR,4966187139.00,NODE,2024-10-28,12176.00,1.00,a91f5c8b,Smoothie - OpenFoodFacts (0.0.0+734),2024-10-28 16:55:51.996910,2025-09-09 10:24:56.962124,RECEIPT,2024-10-28,EUR,NaN,NaN,a91f5c8b,OSM,shop,supermarket,75012,Paris,France,FR,48.85,2.37,Carrefour Market
2,39637,PRODUCT,3123930711758,None,None,None,3.60,False,NaN,None,None,EUR,121781581.00,WAY,2024-10-19,11463.00,NaN,c29b103b,API,2024-10-19 08:13:22.166228,2025-09-09 10:25:19.990971,PRICE_TAG,2024-10-19,EUR,NaN,NaN,c29b103b,OSM,shop,supermarket,17470,Aulnay,France,FR,46.03,-0.35,Intermarché
3,39573,PRODUCT,3500390010247,None,None,None,19.95,False,NaN,None,None,EUR,204128538.00,WAY,2024-10-18,11420.00,NaN,a9cde2a0,Open Prices Web App,2024-10-18 16:59:35.209751,2025-09-09 10:26:02.328383,PRICE_TAG,2024-10-18,EUR,NaN,NaN,a9cde2a0,OSM,shop,supermarket,38100,Grenoble,France,FR,45.18,5.73,Super U
4,33784,PRODUCT,8033976484743,None,None,None,2.99,False,NaN,None,None,EUR,34951227.00,WAY,2024-09-10,8826.00,1.00,2e5fe981,Open Prices Web App,2024-09-13 16:57:50.974292,2025-09-09 09:28:10.019273,RECEIPT,2024-09-10,EUR,NaN,NaN,2e5fe981,OSM,shop,supermarket,91026,Mazara del Vallo,Italia,IT,37.65,12.60,Decò
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152396,167585,PRODUCT,4001724039204,None,None,None,3.75,False,NaN,None,None,EUR,931617402.00,NODE,2025-11-17,58280.00,1.00,6892f634,Smoothie - OpenFoodFacts (4.21.0+1570) (android+CPH2493_15.0.0.1353(EX01)),2025-11-25 21:32:20.435018,2025-11-25 21:32:20.440402,RECEIPT,2025-11-17,EUR,NaN,NaN,6892f634,OSM,shop,supermarket,48350,Kotka,Suomi / Finland,FI,60.48,26.86,S-market Karhuvuori
152397,167586,PRODUCT,7340191157590,None,None,None,1.59,False,NaN,None,None,EUR,931617402.00,NODE,2025-11-17,58280.00,1.00,6892f634,Smoothie - OpenFoodFacts (4.21.0+1570) (android+CPH2493_15.0.0.1353(EX01)),2025-11-25 21:32:22.270851,2025-11-25 21:32:22.275746,RECEIPT,2025-11-17,EUR,NaN,NaN,6892f634,OSM,shop,supermarket,48350,Kotka,Suomi / Finland,FI,60.48,26.86,S-market Karhuvuori
152398,167587,PRODUCT,6408430340538,None,None,None,4.09,False,NaN,None,None,EUR,931617402.00,NODE,2025-11-17,58280.00,1.00,6892f634,Smoothie - OpenFoodFacts (4.21.0+1570) (android+CPH2493_15.0.0.1353(EX01)),2025-11-25 21:32:24.191562,2025-11-25 21:32:24.197457,RECEIPT,2025-11-17,EUR,NaN,NaN,6892f634,OSM,shop,supermarket,48350,Kotka,Suomi / Finland,FI,60.48,26.86,S-market Karhuvuori
152399,167588,PRODUCT,6405799002466,None,None,None,3.19,False,NaN,None,None,EUR,931617402.00,NODE,2025-11-17,58280.00,1.00,6892f634,Smoothie - OpenFoodFacts (4.21.0+1570) (android+CPH2493_15.0.0.1353(EX01)),2025-11-25 21:32:29.378380,2025-11-25 21:32:29.387487,RECEIPT,2025-11-17,EUR,NaN,NaN,6892f634,OSM,shop,supermarket,48350,Kotka,Suomi / Finland,FI,60.48,26.86,S-market Karhuvuori
152400,167589,PRODUCT,8850987148729,None,None,None,0.85,False,NaN,None,None,EUR,931617402.00,NODE,2025-11-17,58280.00,1.00,6892f634,Smoothie - OpenFoodFacts (4.21.0+1570) (android+CPH2493_15.0.0.1353(EX01)),2025-11-25 21:32:31.139431,2025-11-25 21:32:31.144958,RECEIPT,2025-11-17,EUR,NaN,NaN,6892f634,OSM,shop,supermarket,48350,Kotka,Suomi / Finland,FI,60.48,26.86,S-market Karhuvuori

In [ ]:
newDF.to_parquet('../data/processed/processed_prices.parquet', engine='fastparquet')