In [1]:
import numpy as np
import pandas as pd

from open_prices.config import EXTERNAL_DATA_FILE
from open_prices.dataset import checkListTypeAndConvert, noneSumCalc

pd.options.display.float_format = '{:.2f}'.format

2026-01-02 16:16:44.608 | INFO     | open_prices.config:<module>:19 - PROJ_ROOT path is: /home/ornellah/Documents/Git project/open_prices

In [2]:
df = pd.read_parquet(f"{EXTERNAL_DATA_FILE}", engine="fastparquet")

In [3]:
df.head()

,id,type,product_code,product_name,category_tag,labels_tags,origins_tags,price,price_is_discounted,price_without_discount,...,location_osm_address_postcode,location_osm_address_city,location_osm_address_country,location_osm_address_country_code,location_osm_lat,location_osm_lon,location_website_url,location_source,location_created,location_updated
0,42629,PRODUCT,3560070283484,None,None,None,None,1.25,False,NaN,...,75012,Paris,France,FR,48.85,2.37,None,None,2024-01-16 18:29:47.461589,2024-08-25 13:41:04.572275
1,42630,PRODUCT,3560070206469,None,None,None,None,1.99,False,NaN,...,75012,Paris,France,FR,48.85,2.37,None,None,2024-01-16 18:29:47.461589,2024-08-25 13:41:04.572275
2,39637,PRODUCT,3123930711758,None,None,None,None,3.60,False,NaN,...,17470,Aulnay,France,FR,46.03,-0.35,None,None,2024-10-19 08:12:54.613170,2024-10-19 08:12:55.036233
3,39573,PRODUCT,3500390010247,None,None,None,None,19.95,False,NaN,...,38100,Grenoble,France,FR,45.18,5.73,None,None,2023-12-24 10:09:56.269605,2024-09-01 10:44:35.488131
4,33784,PRODUCT,8033976484743,None,None,None,None,2.99,False,NaN,...,91026,Mazara del Vallo,Italia,IT,37.65,12.60,None,None,2024-08-26 13:54:56.009100,2024-08-26 17:59:56.261823

In [4]:
dfNone = noneSumCalc(df)

In [5]:
dfNone.sort_values('noneSum', ascending=False)

                              columns  noneSum
44               location_website_url     1.00
45                    location_source     1.00
5                         labels_tags     0.98
10                      discount_type     0.96
6                        origins_tags     0.96
4                        category_tag     0.96
11                          price_per     0.96
29          proof_receipt_price_total     0.95
28          proof_receipt_price_count     0.94
9              price_without_discount     0.94
18                   receipt_quantity     0.69
3                        product_name     0.44
26                         proof_date     0.14
31                       proof_source     0.11
20                             source     0.11
27                     proof_currency     0.09
2                        product_code     0.04
38      location_osm_address_postcode     0.02
39          location_osm_address_city     0.02
36               location_osm_tag_key     0.00
41  location_osm_address_country_code     0.00
37             location_osm_tag_value     0.00
35          location_osm_display_name     0.00
43                   location_osm_lon     0.00
40       location_osm_address_country     0.00
42                   location_osm_lat     0.00
13                    location_osm_id     0.00
14                  location_osm_type     0.00
16                               date     0.00
12                           currency     0.00
23                    proof_file_path     0.00
30                        proof_owner     0.00
33                      proof_updated     0.00
32                      proof_created     0.00
25                         proof_type     0.00
17                           proof_id     0.00
24                     proof_mimetype     0.00
47                   location_updated     0.00
1                                type     0.00
7                               price     0.00
15                        location_id     0.00
8                 price_is_discounted     0.00
0                                  id     0.00
22                            updated     0.00
21                            created     0.00
19                              owner     0.00
34                      location_type     0.00
46                   location_created     0.00

In [6]:
removeColumns = dfNone.sort_values('noneSum', ascending=False)[0:2]["columns"].values

In [7]:
df['store_name'] = df['location_osm_display_name'].str.split(',', expand=True)[0]

In [8]:
removeColumns = np.append(
    removeColumns,
    [
        'origins_tags',
        'proof_source',
        'proof_created',
        'proof_updated',
        'location_id',
        'proof_file_path',
        'proof_mimetype',
        'location_created',
        'location_updated',
        'location_osm_display_name',
    ],
)

In [9]:
removeColumns

array(['location_website_url', 'location_source', 'origins_tags',
       'proof_source', 'proof_created', 'proof_updated', 'location_id',
       'proof_file_path', 'proof_mimetype', 'location_created',
       'location_updated', 'location_osm_display_name'], dtype=object)

In [10]:
newDF = df.drop(axis=1, columns=removeColumns)

In [11]:
newDF = newDF.dropna(subset=["product_name", "category_tag"], how='all')

In [12]:
newdfNone = noneSumCalc(newDF)

In [13]:
newdfNone.sort_values('noneSum', ascending=False)

                              columns  noneSum
9                       discount_type     0.97
8              price_without_discount     0.97
5                         labels_tags     0.96
25          proof_receipt_price_total     0.96
24          proof_receipt_price_count     0.95
4                        category_tag     0.93
10                          price_per     0.93
16                   receipt_quantity     0.69
22                         proof_date     0.24
23                     proof_currency     0.16
2                        product_code     0.07
3                        product_name     0.05
18                             source     0.01
30      location_osm_address_postcode     0.01
31          location_osm_address_city     0.01
29             location_osm_tag_value     0.00
28               location_osm_tag_key     0.00
33  location_osm_address_country_code     0.00
34                   location_osm_lat     0.00
36                         store_name     0.00
32       location_osm_address_country     0.00
35                   location_osm_lon     0.00
12                    location_osm_id     0.00
13                  location_osm_type     0.00
21                         proof_type     0.00
26                        proof_owner     0.00
15                           proof_id     0.00
1                                type     0.00
0                                  id     0.00
20                            updated     0.00
19                            created     0.00
17                              owner     0.00
14                               date     0.00
7                 price_is_discounted     0.00
6                               price     0.00
11                           currency     0.00
27                      location_type     0.00

In [14]:
checkListTypeAndConvert(newDF, True)

[]

In [15]:
newDF["category_tag"] = newDF["category_tag"].replace(to_replace='[a-z]{2}:', regex=True, value='')
newDF["labels_tags"] = newDF["labels_tags"].str.replace(r"^\[\'\w{2}:(\w+)\']$", r"\1", regex=True)

In [16]:
newDF["price_per"] = newDF["price_per"].fillna("UNIT")

In [17]:
newDF["labels_tags"].unique()

array(['None', 'organic', '[]'], dtype=object)

In [18]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
newDF[(newDF["labels_tags"].notna())]

,id,type,product_code,product_name,category_tag,labels_tags,price,price_is_discounted,price_without_discount,discount_type,price_per,currency,location_osm_id,location_osm_type,date,proof_id,receipt_quantity,owner,source,created,updated,proof_type,proof_date,proof_currency,proof_receipt_price_count,proof_receipt_price_total,proof_owner,location_type,location_osm_tag_key,location_osm_tag_value,location_osm_address_postcode,location_osm_address_city,location_osm_address_country,location_osm_address_country_code,location_osm_lat,location_osm_lon,store_name
109,96177,PRODUCT,4337256316965,BIO SAURE SAHNE,None,None,0.85,False,NaN,None,UNIT,EUR,2575121788.00,NODE,2025-04-12,28902.00,1.00,f7ce1bc3,API,2025-04-12 21:48:05.007148,2025-09-09 09:47:11.732841,RECEIPT,2025-04-12,EUR,3.00,NaN,f7ce1bc3,OSM,shop,supermarket,04109,Leipzig,Deutschland,DE,51.34,12.36,REWE
110,93749,PRODUCT,3448550004951,Confiture Fruits des Bois,None,None,4.35,False,NaN,None,UNIT,EUR,2517415413.00,NODE,2025-03-18,26320.00,NaN,68bca10e,Open Prices Web App - /experiments/price-validation-assistant,2025-03-30 21:12:07.973961,2025-09-09 09:48:05.184775,PRICE_TAG,2025-03-18,EUR,NaN,NaN,eecefef3,OSM,shop,supermarket,38100,Échirolles,France,FR,45.16,5.73,Carrefour
145,85881,PRODUCT,4260107222262,"fritz-kola 0,51",None,None,1.99,False,NaN,None,UNIT,EUR,59986892.00,WAY,2025-02-28,24545.00,1.00,94729230,Open Prices Web App - /prices/add/multiple,2025-02-28 09:32:36.271371,2025-09-09 09:21:12.955472,RECEIPT,2025-02-28,EUR,7.00,11.28,94729230,OSM,shop,supermarket,21385,Amelinghausen,Deutschland,DE,53.13,10.21,Edeka
146,85879,PRODUCT,4001568200525,"Vitamalz 0,331",None,None,0.79,False,NaN,None,UNIT,EUR,59986892.00,WAY,2025-02-28,24545.00,1.00,94729230,Open Prices Web App - /prices/add/multiple,2025-02-28 09:31:57.259484,2025-09-09 09:21:13.000878,RECEIPT,2025-02-28,EUR,7.00,11.28,94729230,OSM,shop,supermarket,21385,Amelinghausen,Deutschland,DE,53.13,10.21,Edeka
147,85880,PRODUCT,4001513001382,"Gerol.LS Apf.0,751",None,None,1.19,False,NaN,None,UNIT,EUR,59986892.00,WAY,2025-02-28,24545.00,1.00,94729230,Open Prices Web App - /prices/add/multiple,2025-02-28 09:32:19.806037,2025-09-09 09:21:13.046830,RECEIPT,2025-02-28,EUR,7.00,11.28,94729230,OSM,shop,supermarket,21385,Amelinghausen,Deutschland,DE,53.13,10.21,Edeka
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152389,167577,PRODUCT,3270720090095,FORMULE DETENTE POMME 200G,None,None,3.99,False,NaN,None,UNIT,EUR,243207815.00,NODE,2025-11-25,58279.00,NaN,ab1adda8,Open Prices Web App - /prices/add/validate,2025-11-25 21:12:38.893984,2025-11-25 21:12:38.900749,PRICE_TAG,2025-11-25,EUR,NaN,NaN,ab1adda8,OSM,shop,convenience,69008,Lyon,France,FR,45.75,4.87,Carrefour Market
152390,167578,PRODUCT,3270720026704,150G NATURE BRUTE 3 NOIX,None,None,3.99,False,NaN,None,UNIT,EUR,243207815.00,NODE,2025-11-25,58279.00,NaN,ab1adda8,Open Prices Web App - /prices/add/validate,2025-11-25 21:12:40.631393,2025-11-25 21:12:40.638230,PRICE_TAG,2025-11-25,EUR,NaN,NaN,ab1adda8,OSM,shop,convenience,69008,Lyon,France,FR,45.75,4.87,Carrefour Market
152391,167579,PRODUCT,3046920011396,184G BTE CHAMPS-ELYSEES LAI,None,None,8.69,False,NaN,None,UNIT,EUR,243207815.00,NODE,2025-11-25,58278.00,NaN,ab1adda8,Open Prices Web App - /prices/add/validate,2025-11-25 21:13:29.083598,2025-11-25 21:13:29.091711,PRICE_TAG,2025-11-25,EUR,NaN,NaN,ab1adda8,OSM,shop,convenience,69008,Lyon,France,FR,45.75,4.87,Carrefour Market
152392,167580,PRODUCT,8000500408421,110G KINDER MOULAGE P NO CARA,None,None,3.39,False,NaN,None,UNIT,EUR,243207815.00,NODE,2025-11-25,58276.00,NaN,ab1adda8,Open Prices Web App - /prices/add/validate,2025-11-25 21:13:35.437725,2025-11-25 21:13:35.444876,PRICE_TAG,2025-11-25,EUR,NaN,NaN,ab1adda8,OSM,shop,convenience,69008,Lyon,France,FR,45.75,4.87,Carrefour Market
152393,167582,PRODUCT,3046920013987,120G LINDT SACHET MINI MOUL,None,None,7.49,False,NaN,None,UNIT,EUR,243207815.00,NODE,2025-11-25,58276.00,NaN,ab1adda8,Open Prices Web App - /prices/add/validate,2025-11-25 21:15:22.695859,2025-11-25 21:15:22.703461,PRICE_TAG,2025-11-25,EUR,NaN,NaN,ab1adda8,OSM,shop,convenience,69008,Lyon,France,FR,45.75,4.87,Carrefour Market

In [19]:
newDF.to_parquet('../data/processed/processed_prices.parquet', engine='fastparquet')